.eventImg {
  width: 240px;
  height: 300px;
  border-radius: 40%;
}

.eventsUl {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
}

.eventsItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}
