@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Fuzzy+Bubbles&display=swap');

.text,
.secondry-text {
  margin-top: 20px;
  text-align: center;
  margin-left: 10%;
  font-family: 'Crimson Text', serif;
}

.secondry-text {
  color: #b2b2b2;
}

.sidebar {
  background-color: #97bf11;
  opacity: 0.8;
  color: white;
}

.sidebar__menu__item__text {
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.cards {
  margin-top: 3%;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  cursor: pointer;
  width: 41%;
  margin-left: 37%;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.cards:hover {
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.link {
  color: black;
  text-decoration: none;
}

.card-title {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}

.img-container {
  background-repeat: no-repeat;
  background-position: center;
}

.img-container img {
  width: 60%;
  height: 50%;
  margin-bottom: 32px;
}

.link-decoration {
  padding: 2%;
  border-radius: 20px;
  margin-top: 90px;
  background-color: white;
  border: 1px solid #97bf11;
  color: black;
}

.link-decoration:hover {
  background-color: #97bf11;
  color: white;
}

.card-text {
  color: #b2b2b2;
  margin-bottom: 50px;
  font-size: 17px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-weight: 500;
  font-size: 20px;
}

.icon {
  margin-top: 7px;
  color: #97bf11;
  margin-right: 10px;
}

.green-text {
  color: #97bf11;
}

.detail-reserve {
  margin-left: 87%;
}

.back-button {
  margin-left: 20%;
  font-size: 50px;
  cursor: pointer;
}

.desk {
  display: flex;
}

.loader {
  text-align: center;
  margin-left: 54%;
  margin-top: 20%;
}

.splash-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(./assests/images/BusinessEvent.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 15s infinite ease-in-out;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.7;
  position: absolute;
}

.login-btn {
  width: 200px;
}

.welcome-text {
  margin-top: 6%;
}

.white-text {
  color: #91bf13;
  font-size: 50px;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
}

.btn-login {
  background: #91bf13;
  height: auto;
  padding: 8px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-top: 10%;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-div1 {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background: #eee;
  margin: auto;
}

.logo1 {
  width: 90px;
  height: 90px;
  margin: 25px 0 9px 30px;
}

.top {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 99;
}

.bottom {
  z-index: 99;
}

.submit-button {
  color: white;
  padding: 7%;
  background-color: #91bf13;
  border: none;
  margin-bottom: 10%;
  width: 50%;
  margin-left: 60%;
  margin-top: 7%;
}

.submit-button:hover,
.btn-login:hover {
  color: #91bf13;
  background-color: #fff;
  border: 1px solid #91bf13;
}

.links {
  margin-left: 70%;
}

.form-container {
  margin-top: 8%;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  cursor: pointer;
  width: 41%;
  margin-left: 37%;
  margin-bottom: 20px;
  display: flex;
}

.form-header {
  margin-left: 40%;
  font-size: 24px;
}

.login-header {
  margin-left: 60%;
  font-size: 24px;
}

.input-floor {
  margin-bottom: 10%;
}

.form-control {
  padding: 10%;
  width: 150%;
}

.container-reg {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 80%;
}

.register-title {
  color: #000;
  font-size: 25px;
  margin-top: 20%;
}

.reg-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-inputs,
.username {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
}

@keyframes change {
  0% {
    background-image: url(./assests/images/BusinessEvent.jpg);
  }

  20% {
    background-image: url(./assests/images/event1.jpg);
  }

  40% {
    background-image: url(./assests/images/BusinessEvent.jpg);
  }

  60% {
    background-image: url(./assests/images/event1.jpg);
  }

  100% {
    background-image: url(./assests/images/BusinessEvent.jpg);
  }
}

@media (max-width: 600px) {
  .grd {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    height: 70%;
    margin: auto;
  }

  .sidebar {
    display: none;
  }

  .reg-form input {
    width: auto;
    padding: 8px;
    border-radius: 20px;
    margin: auto;
  }

  .Navbar {
    overflow: hidden;
  }
}

@media (min-width: 601px) and (max-width: 920px) {
  .grd {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 70%;
    margin: auto;
  }

  .form-container {
    padding-top: 92px;
    margin-top: auto;
  }

  .side {
    display: none !important;
  }

  .reg-form input {
    width: auto;
    padding: 8px;
    border-radius: 20px;
    margin: auto;
  }

  #fixed {
    position: fixed;
    overflow-y: hidden;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }

  .Navbar {
    overflow: hidden;
  }
}
